:root{
    --primary: #FF9D00;
    --secondary: #9AAC48;
    --dark1: #120E0D;
    --dark2: #211C20;
    --light: #FCFBF9;
}
@font-face {
    font-family: GoboldRegular;
    src: url(../font/Gobold/Gobold\ Bold.otf) format('opentype');
}
menu{
    padding: 0;
}
html {
    font-family: Enriqueta;
    font-size: 1em;
}
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    font-family: 'Saira Extra Condensed', sans-serif;
}
main{
    margin: 4rem auto 1rem auto;
    max-width: 80%;
    padding-top: 4rem;
}

a{
    text-decoration: none;
}
.shadow{
    -webkit-box-shadow: 27px 23px 49px -20px rgba(0,0,0,0.34);
    -moz-box-shadow: 27px 23px 49px -20px rgba(0,0,0,0.34);
    box-shadow: 27px 23px 49px -20px rgba(0,0,0,0.34);
}

.text--primary {
    color: var(--primary);
    
}
/*header*/

h1, h2, h3, h4, .head__text{
    font-family: GoboldRegular;
}
.head__text--primary {
    background-color: var(--primary);
    color: var(--light);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding: 0.5rem;
    font-size: 3em;
}

.head__text--dark {
    background-color: var(--dark2);
    color: var(--primary);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10;
    padding: 0.5rem;
    font-size: 2em;
}
.main__header {
    background-image: url("../img/img/bee.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

/* citation */
.citation {
    background-color: var(--light);
    padding-top: 8%;
    padding-bottom: 10%;
}
.citation__body {
    background-color: var(--dark2);
    color: var(--primary);
    width: 80%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}



.citation__body__text {
    padding: 25%;
    padding-top: 12%;
    padding-bottom: 12%;
    font-size: 0.875em;
}
.citation__name{
    font-size: large;
    text-align: center;
}
.citation__body__exlamation {
    height: 4rem;
}

.citation__body__exlamation--right {
    transform: translateY(-40%) translateX(-10%);
    float: right;
}
.citation__body__exlamation--left {
    float: left;
    transform: translateY(-60%) translateX(10%);
}
.bee {
    float: right;
    transform: translateY(-55%);
    width: 40%;
}
/*whatitis*/
.whatisit {
    background-color: var(--light);
    position: relative;
}
.whatisit__heading {
    background-color: var(--primary);
    width: fit-content;
    text-wrap: nowrap;
    font-size: 2em;
    padding: 0.5em; 
    margin: 0 auto 1em;
    text-align: center;
}
.whatisit__caption {
    width: 80%;
    margin: auto;
    text-align: center;
}
.button--left{
    left: 35px;
    position: relative;
}
.button--right {
    right: 35px;
}
.whatisit__cards__card__img {
    margin: auto;
    display: block;
    padding-top: 8%;
}

.whatisit__cards__card__caption {
    color: var(--light);
    padding: 5%;
    padding-bottom: 15%;
}
.whatisit__cards__card {
    width: 60%;
    margin: auto;
    background-color: var(--dark2);
    border-radius: 2rem;
    display: none;

}

.whatisit__cards__card--active {
    display: block;
}
.whatisit__cards {
    margin-top: 10%;
}
.cards{
    position: relative;
    transform: translateX(-40px);
    display: flex;
    align-items: center;

}

.whatisit__cards__card--dark{
    background-color: var(--dark2);
}
.whatisit__cards__card--primary{
    background-color: var(--primary);
}
/*build*/
.main__build {
    background-image: url(../img/background/Vector.svg);
    background-size: cover;
    background-position: center;
}
.build__body{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.build__cards{
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-right: 0.5rem;
}
.build__cards__card{
    background-color: var(--light);
    padding: 0.5rem;
}

.build__img{
    object-fit: contain;
}
.build__img--desktop{
    display: none;
}
.build__header {
    background-color: var(--dark2);
    color: var(--primary);
    width: fit-content;
    font-size: 2em;
    padding: 0.5em; 
    margin: 0 auto 1em;
    text-align: center;
    margin-top: 5rem;

}

.text--yellow {
    color: var(--primary);

}

.button {
    width: 2.5em;
    position: absolute;
    top: 60%;
}


/*o nás*/
.about {
    background-image: url(../img/background/Rectangle\ 12.svg);
    height: 100%;
    padding-bottom: 5rem;
    background-size: cover;
    background-position: center;
}

.about__heading {
    color: var(--light);
    font-size: 2em;
    padding: 0.5em; 
    margin: 0 auto 1em;
    text-align: center;
}

.about__caption {
    color: var(--light);
    width: 80%;
    margin: auto;
}

.about__img {
    display: block;
    width: 80%;
    margin: 1rem auto;
}





/*footer*/
.footer{
    margin-top: 2rem;
}
.footer__references {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 5%;
}
.footer__references__reference{
    height: 3em;
}
.footer__heading {
    color: var(--light);
    background-color: var(--primary);
    width: fit-content;
    font-size: 2em;
    padding: 0.5em; 
    margin: 0 auto 1em;
    text-align: center;
}

.footer__adress {
    text-align: center;
}

.footer__number {
    text-align: center;
}


@media screen and (min-width: 640px){
    html{
        font-size: 120%;
    }
    .main__header{
        display: flex;
        flex-direction: row;
        justify-content: center;    }
    .main__header *{
        width: 15rem;
        margin: 0 auto;
    }
    .about__body{
        display: flex;
        flex-direction: row;
        margin-left: 1em;
        margin-right: 1em;
        gap: 1rem;
    }
    .about__img{
        width: 40%;
    }
    .bee{
        width: 30%;
    }
    .build__body{
        align-items: flex-start;
    }
    .build__cards{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10rem;
    }
}
@media only screen and (min-width: 1200px) {
    .bee{
        width: 25%;
    }
    .whatisit__cards__card{
        display: block;
        min-height:35vh;
        width: 16rem;
        margin-bottom:1.5em;
        
    }
    .whatisit__cards{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .whatisit__cards{
        margin-top: 2em;
    }
    .head {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .about{
        padding-bottom: 8rem;
    }
    .about__body{
        width: 70%;
        margin: auto;
    }
    .main__header{
        gap: 10rem;
    }
    .head__text {
        margin: 0;
        font-size: 50px;
        text-wrap: wrap;
        transform: translateY(-40%);
    }

    .head__text--primary {
        float: left;
        width: 20%;
        margin-left: 5%;
    }

    .head__text--dark {
        float: right;
        width: 35%;
        margin-right: 5%;

    }

    .citation__body {
        width: 40%;
    }

    .citation__body__exlamation {
        width: 25%;
    }

    .citation__name {
        text-align: center;
    }

    .wasp {
        width: 25%;
        transform: translateY(-60%);
    }

    .citation {
        padding-bottom: 4%;
    }
    .whatisit{
        width: 80%;
        margin: 2rem auto;
    }
    .whatisit__heading {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .whatisit__caption {
        width: 60%;
    }
      .about__wrapper{
        display: flex;
        flex-direction: row;
    }
      .about__wrapper{
        width: 70%;
        margin: auto;
    }
      .about__img{
        width: 40%;
        margin-top: 0;
    }
    .build__img--desktop{
        display: block;
    }
    .build__img--mobile{
        display: none;
    }
    .build__cards{
        margin-bottom: 4rem;
    }

}